.DS_Store
/.build
/build
/Packages
/*.xcodeproj
xcuserdata/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
/.swiftpm

# Documentation
Documentation/UBFoundation
Documentation/UBPush
Documentation/UBLocation
Documentation/UBUserInterface

/Package.resolved
