name: Build & Test

env:
  XCVERSION: "26.1"

on:
  push:

jobs:
  tests:
    name: Tests
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Switch to ${{ env.XCVERSION }}
        run: sudo xcodes select ${{ env.XCVERSION }}
        
      - name: Fastlane
        run: fastlane tests

      - uses: slidoapp/xcresulttool@v3.1.0
        with:
          path: build/UBKit-Package.xcresult
        if: always()